.projects-container {
    padding: 20rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-container img {
    width: 32rem;
    filter: grayscale(100) blur(2px);
}
h3  {
    margin: 2rem 0 0 0;
}
.project-container {
    width: 40rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 500;
    font-family: 'CONCERT-ONE';
    font-size: 3rem;
    color: #3FA7D6;
}
.project-container:hover {
    color: #EF476F;
}
.project-container img:hover {
    animation-name: defilter;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.last-projects {
    padding-top: 5rem;
    display: flex;
    gap: 2rem;
}
.first-project {
    height: 30rem;
}
@keyframes defilter {
    100% {
        filter: none;
        width: 36rem;
    }
}