.projects-container {
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects-container p {
    color: #EF476F;
    font-family: 'Roadster';
    font-size: 8rem;
    margin: 0 0 2rem 0;
    text-shadow:
    0px -2.5px 5px, 0px 0px 1px,
    #EF476F 0px 0px 0px, 
    #EF476F 0px 0px 0.01rem,
    #EF476F 0px 0px 0.01rem;
}
.project-container img {
    width: 40vw;
    filter: grayscale(100) blur(2px);
}
h3  {
    margin: 2rem 0 0 0;
}
h6 {
    margin: 1rem 0 0 0;
}
.project-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 500;
    font-family: 'CONCERT-ONE';
    font-size: 2rem;
    color: #3FA7D6;
}
.project-container img {
    border-radius: 10px;
}
.project-container:hover {
    color: #EF476F;
}
.project-container img:hover {
    animation-name: defilter;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.last-projects {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 10vw;
}
.first-project div {
    width: 50vw;
    padding-bottom: 2rem;
}
@keyframes defilter {
    100% {
        filter: none;
        width: 42vw;
        margin: -1vh;
        border-radius: 5px;
    }
}

@media screen and (max-width: 1000px) {
    .first-project div {
        width: 70vw;
        padding-bottom: 0;
    }
    .project-container {
        width: 75vw;
    }
    .project-container img {
        width: 70vw;
        filter: none;
    }
    .project-container img:hover {
        animation: none;
    }
    .last-projects {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 500px) {
    .projects-container p {
        font-size: 6rem;
    }
}