nav {
    background-image: url('../../images/y-so-serious.png');
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 0;
    border-bottom: 0.1rem solid #3FA7D6;
    width: 100%;
    position: fixed;
    z-index: 2;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #EF476F;
}
ul {
    margin: 0;
    color: #3FA7D6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    gap: 8vw;
}
li {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'CONCERT-ONE';
}

.gelatine {
    animation-name: gelatine;
    animation-duration: 1s;
}

@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}