nav {
    background-image: url('../../images/y-so-serious.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12%;
    border-bottom: 0.1rem solid #3FA7D6;
    width: 100%;
    position: fixed;
    z-index: 2;
}
.white-filler {
    background-color: rgba(95, 104, 113, 0.283);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
nav a:hover {
    color: #EF476F;
}
ul {
    margin: 0;
    color: #3FA7D6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    gap: 8vw;
}
li {
    font-size: 2.5vw;
    font-weight: 500;
    font-family: 'CONCERT-ONE';
    text-shadow: 4px 4px 2px rgba(0,0,0,0.59);
}

.gelatine {
    animation-name: gelatine;
    animation-duration: 1s;
}

@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

@media screen and (max-width : 1000px) {
    li{
        font-size: 4vw;
    }
}
@media screen and (max-width : 500px) {
    li{
        font-size: 6vw;
    }
}