.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}
.about-main {
    color: #EF476F;
    font-family: 'Roadster';
    font-size: 8rem;
    margin: 2rem 0 2rem 0;
    text-shadow:
    0px -2.5px 5px, 0px 0px 1px,
    #EF476F 0px 0px 0px, 
    #EF476F 0px 0px 0.01rem,
    #EF476F 0px 0px 0.01rem;
}
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 5vw;
    padding: 5% 0 10% 0;
}
.pic-typewriter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
    width: 25%
}
.pic-container img {
    background-color: white;
    border-radius: 2rem;
    width: 18rem;
}
#enjoy{
    color: #3FA7D6;
    margin: 0;
    font-size: 3.5rem;
}
.typewriter-container {
    color: #EF476F;
    font-family: 'CONCERT-ONE';
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    width: 100%;
}
.about-text-container {
    color: white;
    font-family: 'Noto-Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.about-text-container p {
    text-align: center;
    line-height: 1.7;
    /* width: 75%; */
    font-size: 1.1em;
}
.first-name {
    font-size: 1.2em;
    color: #EF476F;
    font-family: 'CONCERT-ONE';
    font-weight: 100;
}
.about-span {
    width: 10%;
}
.category-animate {
    animation-name: category-neon-blink;
    animation-duration: 1s;
}

@keyframes category-neon-blink {
    0% {
        color: black;
        text-shadow: none;
    }
    5% {
        color: #EF476F;
        text-shadow:
        0px -5px 20px, 0px 0px 2px,
        #EF476F 0px 0px 0px, 
        #EF476F 0px 0px 0.5rem,
        #EF476F 0px 0px 0.03rem;
    }
    10% {
        color: black;
        text-shadow: none;
    }
    15% {
        color: #EF476F;
        text-shadow:
        0px -5px 20px, 0px 0px 2px,
        #EF476F 0px 0px 0px, 
        #EF476F 0px 0px 0.5rem,
        #EF476F 0px 0px 0.03rem;
    }
    20%{
        color: black;
        text-shadow: none;
    }
    80% {
        color: black;
        text-shadow: none;
    }
    85% {
        color: #EF476F;
        text-shadow:
        0px -5px 20px, 0px 0px 2px,
        #EF476F 0px 0px 0px, 
        #EF476F 0px 0px 0.5rem,
        #EF476F 0px 0px 0.03rem;
    }
}

@media screen and (max-width: 1000px) {
    .about-main{
        /* font-size: 4.5rem; */
        margin: 2rem 0 0 0;
    }
    .pic-typewriter-container {
        width: 100%;
    }
    .typewriter-container {
        font-size: 3rem;
    }
    .about-content {
        display: flex;
        flex-direction: column;
    }
    .about-text-container {
        font-size: 2.0vw;
        overflow: hidden;
    }
}
@media screen and (max-width: 500px) {
    .about-main {
        font-size: 6rem;
    }
    .pic-container img {
        width: 60vw;
    }
    .typewriter-container {
        font-size: 2.0rem;
    }
    #enjoy {
        font-size: 2rem;
    }
    .about-text-container {
        font-size: 3vw;
        overflow: hidden;
    }
}