.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
.about-main {
    color: #EF476F;
    font-family: 'CONCERT-ONE';
    font-size: 4rem;
}
.about-content {
    display: flex;
    align-items: center;
    gap: 5vw;
}
.pic-typewriter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: white;
}
.pic-container img {
    background-color: white;
    border-radius: 2rem;
    width: 22rem;
}
#enjoy{
    color: #3FA7D6;
    margin: 0;
}
.typewriter-container {
    color: #EF476F;
    font-family: 'CONCERT-ONE';
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
}
.about-text-container {
    color: white;
    font-family: 'Noto-Sans';
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}