.App {
  background-image: url('./images/y-so-serious.png');
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
@font-face {
    font-family: 'Roadster';
    src:         url('./fonts/ROADSTER.ttf')  format('truetype');
}
@font-face {
  font-family: 'Concert-One';
  src:         url('./fonts/CONCERT-ONE.ttf')  format('truetype');
}
@font-face {
  font-family: 'Noto-Sans';
  src:         url('./fonts/NotoSansMono-Regular.ttf') format('truetype');
}