.App {
  background-image: url('./images/y-so-serious.png');
}
@font-face {
    font-family: 'Roadster';
    src:         url('./fonts/ROADSTER.ttf')  format('truetype');
}
@font-face {
  font-family: 'Concert-One';
  src:         url('./fonts/CONCERT-ONE.ttf')  format('truetype');
}
@font-face {
  font-family: 'Noto-Sans';
  src:         url('./fonts/NotoSansMono-Regular.ttf') format('truetype');
}